OrdererOrgs:
  - Name: Orderer
    Domain: dummy.com
    EnableNodeOUs: true
    Specs:
      - Hostname: orderer0
        SANS:
          - localhost
          - 127.0.0.1
          - ::1
          - orderer0-dummy-com
          - orderer0-dummy-com.dummy-com.svc.cluster.local
          - orderer0.dummy.com
      - Hostname: orderer1
        SANS:
          - localhost
          - 127.0.0.1
          - ::1
          - orderer1-dummy-com
          - orderer1-dummy-com.dummy-com.svc.cluster.local
          - orderer1.dummy.com
      - Hostname: orderer2
        SANS:
          - localhost
          - 127.0.0.1
          - ::1
          - orderer2-dummy-com
          - orderer2-dummy-com.dummy-com.svc.cluster.local
          - orderer2.dummy.com
PeerOrgs:
  - Name: Org1
    Domain: org1.dummy.com
    EnableNodeOUs: true
    Template:
      Count: 1
      SANS:
        - localhost
        - 127.0.0.1
        - ::1
        - "{{.Hostname}}-org1-dummy-com"
        - "{{.Hostname}}-org1-dummy-com.dummy-com.svc.cluster.local"
        - "{{.Hostname}}.org1.dummy.com"
    Users:
      Count: 1
  - Name: Org2
    Domain: org2.dummy.com
    EnableNodeOUs: true
    Template:
      Count: 1
      SANS:
        - localhost
        - 127.0.0.1
        - ::1
        - "{{.Hostname}}-org2-dummy-com"
        - "{{.Hostname}}-org2-dummy-com.dummy-com.svc.cluster.local"
        - "{{.Hostname}}.org2.dummy.com"
    Users:
      Count: 1
  - Name: Org3
    Domain: org3.dummy.com
    EnableNodeOUs: true
    Template:
      Count: 1
      SANS:
        - localhost
        - 127.0.0.1
        - ::1
        - "{{.Hostname}}-org3-dummy-com"
        - "{{.Hostname}}-org3-dummy-com.dummy-com.svc.cluster.local"
        - "{{.Hostname}}.org3.dummy.com"
    Users:
      Count: 1
